Node-RED flow
[{"id":"7bb7c12b.e48bf","type":"influxdb out","z":"3d86e78e.17ff28","influxdb":"9d9ad3f4.49ce7","name":"","measurement":"hallway_power","precision":"","retentionPolicy":"","x":1060,"y":1260,"wires":[]},{"id":"9b7b9a79.fed2a8","type":"mqtt in","z":"3d86e78e.17ff28","name":"","topic":"shellies/my_shelly_em/#","qos":"2","datatype":"auto","broker":"b144405e.a9f63","x":250,"y":1260,"wires":[["3aca629d.d5506e"]]},{"id":"f54b9a2b.1a16d8","type":"comment","z":"3d86e78e.17ff28","name":"Shelly EM (see note)","info":"Shelly EM docs for MQTT here:\n\nhttps://shelly-api-docs.shelly.cloud/#shelly-em-overview\n\nThis flow assumes we have two current clamps connected. If we only have one, we'd need to just change the JOIN node to send the message after receiving 7 parts, not 14 parts.\n\n(The Shelly EM has 7 different electricity monitoring metrics per current clamp sensor)\n","x":210,"y":1220,"wires":[]},{"id":"8109cfde.f2e78","type":"join","z":"3d86e78e.17ff28","name":"Join messages","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"key","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"14","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":640,"y":1260,"wires":[["a179a235.d32b9"]]},{"id":"3aca629d.d5506e","type":"function","z":"3d86e78e.17ff28","name":"Prep message","func":"// This function preps msg.key, and converts the payload to a number.\n// example incoming MQTT path: shellies/my_shelly_em/emeter/0/energy\n\n// The below IF statement basically filters out the relay stuff which\n// would come in on a shorter path (see shelly docs)\nif (msg.topic.split(\"/\")[4] !== undefined) {\n    // combine the current clamp ID with the measurement name\n    // prepare msg.key for the JOIN node to follow \n    msg.key = msg.topic.split(\"/\")[3] + \"_\" + msg.topic.split(\"/\")[4]    \n    // convert measurement to number\n    msg.payload = Number(msg.payload)\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1260,"wires":[["8109cfde.f2e78"]]},{"id":"a179a235.d32b9","type":"change","z":"3d86e78e.17ff28","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"my_shelly_em","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1260,"wires":[["7bb7c12b.e48bf","d3b7f090.3543a"]]},{"id":"d3b7f090.3543a","type":"debug","z":"3d86e78e.17ff28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":1320,"wires":[]},{"id":"9d9ad3f4.49ce7","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"nodered","name":"","usetls":false,"tls":""},{"id":"b144405e.a9f63","type":"mqtt-broker","z":"","name":"Mayfield MQTT","broker":"10.1.1.34","port":"1883","clientid":"nodered","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
